*{
    margin:0;
    padding:0;
}
body{
    min-width: 375px;
    max-width: 1440px;
    min-height: 100vh;
    display: flex;
    
    align-items: center;
    justify-content: center;
    background-color:hsl(32, 24%, 86%);
  
}

img{
    
    width: 300px;
    height: 400px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}
.perfum{
    font-family:'Montserrat' ;
    font-size: 0.8em;
    margin-top: 19px;
    margin-left: 22px;
    color:hsla(228, 12%, 48%, 0.733);
    letter-spacing: 3px;

}
.titulo{
    font-family: 'Fraunces';
    padding-left: 20px;
    padding:20px;
    font-weight: bold;
}
#card{
    background-color: white;
    width: 300px;
    height: 400px;
    float:right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
 
    
  
}
.text1{
    font-family:'Montserrat' ;
    color:hsla(228, 12%, 48%, 0.733);
    font-size: 0.85em;
    margin-left: 20px;
    
    text-align: start;
    text-orientation: sideways-right;
}

#prices{
    display: flex;
    text-align: center;
    padding-left: 60px;
    margin-top: 20px;

    
}

.price2{
   margin-left: 20px;
   margin-top: 5px;
   color:hsl(228, 12%, 48%)
    
}
.price1{
    font-family:  'Fraunces' ;
    color:hsl(158, 36%, 37%);
    font-size: 25px;
}
.button{
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    width: 220px;
    height: 40px;
    border-radius: 8px;
    margin-left: 35px;
    margin-top: 15px;
    background-color: hsl(158, 36%, 37%);
   
}
.btext{
    color:white;
    font-weight: bold;
    padding-top: 10px;
}
.icon{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height:20px;
    padding-top: 8px;
    margin-right: 6px;
    
}
@media only screen and (max-width: 600px) {
    #card{
       float:left;
        width:80%;
        height:80%;
     
        
     
    }
    img{
       
        width:80%;
        height:80%;
    }
   
  }